.blue-text{
    color: #007bff;
    background-color: rgba(0, 123, 255, 0.1);
}
.pink-text{
    color: #e83e8c;
    background-color: rgba(232, 62, 140, 0.1);
}
.paragraph {
   color: blueviolet;
   font-size: 20px;
}